body {
	background-color: #D1C4E9

}

.tl { position: absolute; top: 0; left: 0; right: 50%; bottom: 50%; 
     border-width: 0 10px 10px 0; margin-left: 50;}
.tr { position: absolute; top: 0; left: 50%; right: 0; bottom: 50%; 
       border-width: 0 0 10px 0; }
.br { position: absolute; top: 70%; left: 0; right: 30%; bottom: 0; 
       border-width: 0 10px 0 0; }
.bl { position: absolute; top: 50%; left: 50%; right: 20%; bottom: 41%; background-color: #3A2266;
 } 

#footer { position: fixed; bottom: 0; font-size: 12;}
