body {
	background-color: #D1C4E9

}

h1 {
	text-align: center;
	font-size: 36;
	font-weight: bold;
}
h2 {
	text-align: center;
	font-size: 28;
}
p {
    margin-right: 150px;
    margin-left: 150px;
}

#footer { position: fixed; bottom: 0; font-size: 12;}
