<html>
  <head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Your Government, Your Voice </title>
  </head>
  <body >
    <div class = 'base'><a href="/index" style = 'margin-left: 5'>Home</a> </div>

	<h1> {{b.bill_id}}: {{b.title}} </h1>
	<p>Summary: {{b.summary}} </p>
	{% if b.chamber == 'upper' and b.action_dates.passed_upper or b.chamber == 'lower' and not b.action_dates.passed_lower %}
		<p> Active in Lower Chamber </p>
	{% endif %}
	{% if b.chamber == 'upper' and not b.action_dates.passed_upper or b.chamber == 'lower' and b.action_dates.passed_lower %}
		<p> Active in State Senate </p>
	{% endif %}

<h2> What to say </h2>
<p> Hello, I'm [your name], a constituent from [your location]. I'm calling to strongly recommend a vote [for/against] the {{ b.title }}. This is because it [benefits/detriments] [me/my family/my community/our state] by [impacts of the bill]. Thank you for your time. </p>
     <div id = 'footer'
     <p> Built by Sathvik Nair </p>
     </div>
  </body>
</html>
